@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: "LinjaPona";
    src: url('https://superboi211.github.io/sitelenpona/linja-pona-4.eot'); /* IE9 Compat Modes */
    src: url('https://superboi211.github.io/sitelenpona/linja-pona-4.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://superboi211.github.io/sitelenpona/linja-pona-4.woff') format('woff'), /* Modern Browsers */
    url('https://superboi211.github.io/sitelenpona/linja-pona-4.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('https://superboi211.github.io/sitelenpona/linja-pona-4.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	font-family: "Inconsolata"
}

.centerThis {
    text-align: center;
}

.darkMode {
    background-color: black;
    color: white;
}

.sitelenPona {
    font-family: "LinjaPona";
    font-size: 20px;
}