@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: "FarifaxHD";
    src: url("https://superboi211.github.io/sitelenpona/linja-pona-4.otf/");
}

body {
	font-family: "Inconsolata"
}

.centerThis {
    text-align: center;
}

.darkMode {
    background-color: black;
    color: white;
}

.sitelenPona {
    font-family: "FarifaxHD";
    font-size: 20px;
}